doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Home Finder")
    
    link(rel="stylesheet" href="/Bootstrap/css/bootstrap-theme.css")
    link(rel="stylesheet" href="/Bootstrap/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/Bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="/Bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/Bootstrap/css/carousel.css")
    link(rel="stylesheet" href="/Bootstrap/css/theme.css")
    link(rel="stylesheet" href="/Bootstrap/css/jumbotron.css")
    link(rel="stylesheet" href="/Bootstrap/css/justified-nav.css")
    link(rel="stylesheet" href="/general.css")
  body(style="background-image:url('/images/fondo.jpg')" bgproperties="fixed")
    block content
    script(src="/Bootstrap/js/bootstrap.js")
    script(src="/Bootstrap/js/bootstrap.min.js")